<header class="header container">
    <div class="jumbotron">
        <h1>Demo iTunes Voice Player</h1>
        <p class="text-success">This Demo iTunes Voice Application works both with English and Russian languages. It uses SessionStorage API to remember current song position and autoplaying after refreshing page.</p>
        <form class="form-inline" action="">
            <select class="form-control" id="selectLanguage" accesskey="l"></select>
        </form>
    </div>
</header>
<!-- /.header container -->