<template id="thumbnail">
    <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="thumbnail">
            <div class="caption">
                <a href="" class="trackLink"><h5></h5></a>
                <img src="" alt="" class="trackImg">
                <p>
                    <span class="label label-warning trackGenre"></span>
                    <span class="label label-danger trackCountry"></span>
                </p>
                <p>
                    <a href="" target="_blank" class="btn btn-info trackArtist">Artist</a>
                    <a href="" target="_blank" class="btn btn-primary trackCollection">Collection</a>
                </p>
            </div>
            <span class="liked">&hearts;</span>
        </div>
    </div>
</template>